* {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  box-sizing: border-box;
}

body {
  color: white;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: auto;
}

a {
  font-family: Georgia;
}

pre {
  color: white;
}

.navbar {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.div-body {
  padding-left: 24px;
}

.navbtn {
  background-color: rgb(0, 0, 0);
  padding: 1px;
  margin: 1px 10px;
  position: static;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: rgb(255, 255, 255);
  color: black;
}

.red-mode {
  background-color: rgb(80, 0, 0);
  color: white;
}

.damo {
  padding: 2px;
  color: white;
  margin: 2px 8px;
  position: static;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.test {
  width: 100%;
  text-align: center;
  padding-bottom: 24px;
}

.bevitel {
  width: 100%;
  padding-bottom: 18px;
  padding-left: 5%;
}

.square-normal {
  display: flex;
  width: 250px;
  height: 50px;
  background-color: rgb(145, 145, 145);
  position: absolute;
  left: 10%;
  top: 40%;
  border-style: solid;
}

.square-edge {
  display: flex;
  width: 125px;
  height: 50px;
  background-color: rgb(145, 145, 145);
  position: absolute;
  left: 47%;
  border-style: solid;
}

.square-right_1 {
  display: flex;
  width: 125px;
  height: 50px;
  background-color: rgb(145, 145, 145);
  position: absolute;
  left: 60%;
  top: 100%;
  border-style: solid;
}

.square-left_1 {
  display: flex;
  width: 125px;
  height: 50px;
  background-color: rgb(145, 145, 145);
  position: absolute;
  left: 33%;
  top: 100%;
  border-style: solid;
}

.square-middle_1 {
  display: flex;
  width: 125px;
  height: 50px;
  background-color: rgb(145, 145, 145);
  position: absolute;
  left: 40%;
  top: 100%;
  border-style: solid;
}

.square-middle_2 {
  display: flex;
  width: 125px;
  height: 50px;
  background-color: rgb(145, 145, 145);
  position: absolute;
  left: 54%;
  top: 100%;
  border-style: solid;
}

.square-right_2 {
  display: flex;
  width: 125px;
  height: 50px;
  background-color: rgb(145, 145, 145);
  position: absolute;
  left: 68%;
  top: 100%;
  border-style: solid;
}

.square-left_2 {
  display: flex;
  width: 125px;
  height: 50px;
  background-color: rgb(145, 145, 145);
  position: absolute;
  left: 27%;
  top: 100%;
  border-style: solid;
}

.lowpad {
  text-align: center;
  padding-bottom: 5px;
}

.normalpad {
  text-align: center;
  padding-bottom: 15px;
}

.highpad {
  text-align: center;
  padding-bottom: 60px;
  top: 100%;
}

.hasha {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 40px;
  text-align: center;
  position: absolute;
  left: 42%;
  border-color: white;
}

.hashinput {
  background-color: rgb(255, 255, 255);
  width: 40px;
  text-align: center;
  position: absolute;
  left: 45%;
}

.text {
  margin: auto;
  color: white;
}

input {
  font-size: 18px;
  width: 70px;
  text-align: center;
}

.inputlong {
  font-size: 18px;
  width: 300px;
  text-align: center;
}

table {
  padding-bottom: 10px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  width: 240px;
  text-align: left;
  font-size: 18px;
}

.center {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.hidden {
  display: none;
}

.cardtheme1 {
  position: absolute;
  right: 62%;
  bottom: 10%;
}

.cards {
  max-width: 1000px;
}

.hashtable {
  position: relative;
  left: 40%;
  width: 400px;
  text-align: center;
  border: solid 3px;
  border-color: rgb(131, 131, 0);
  text-align: center;
}

.allinput {
  width: 60px;
  text-align: center;
}

.lineinput {
  width: 180px;
  text-align: center;
}

.tree-red {
  font-family: Georgia;
  font-size: x-large;
  color: azure;
  background-color: red;
  border: 2px solid rgb(153, 0, 255);
  border-radius: 50%;
  text-align: center;
  margin: 15px 15px 5px 5px;
  padding: 5px 10px 10px 10px;
}
.tree-black {
  font-family: Georgia;
  font-size: x-large;
  color: azure;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(153, 0, 255);
  border-radius: 50%;
  border-style: solid;
  text-align: center;
  margin: 15px 15px 5px 5px;
  padding: 5px 10px 10px 10px;
}
